html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

header {
    width: 100%;
    height: 100px;
    background-color: #171A21;
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07), 0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.logo {
    width: 45px;
    height: 33px;
    position: absolute;
    top: 15px;
    left: 30px;
}
.logo_cont{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28px;
    left: 120px;
}
.logo_text{
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}
#find{
    height: 33px;
    width: 16%;
    position: absolute;
    top: 30px;
    left: 228px;
    background: #0D1017;
    border-radius: 5px;
    border-color: #0D1017;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.2);
}
.containerRight{
  float: right;
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu{
  font-size: 16px;
  line-height: 22px;
  color: #ECEFF4;
}
